@media screen and (min-widht:102px)
  .rodapé{
    display:flex;
    justy-content space-around;
}
.lista-rodapé{
   display:block
}
.lista-rodapé_item{
  display:flex;
    align-items:center;
  margin:0.6em0;
}

.lista-rodapé_link{
  colar:var(--cinza);
  text-decoration:nome
  margin-left:0.6em
}

.lista-rodapé_titulo{
  font-size:14px;
   color:var(--cinza-claro);
}

