@media screen and (min-widht:102px)
  .rodapé{
    display:flex;
    justy-content space-around;
}
.lista-rodapé{
   display:block
}
.lista-rodapé_item{
  display:flex;
    align-items:center;
  margin:0.6em0;
}
